# Practicing Data Science
### Using ML

In this colab doc you'll find my data dcience practice.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
data={'cars':['toyota','subaru','nissan','honda'],
      'price':[3200,2800,2400,1750],
      'features':[24,20,18,30],
      'colors':['red','white','blue','black'],
      'doors':[4,5,4,2]
}

In [ ]:
df=pd.DataFrame(data)
df

     cars  price  features colors  doors
0  toyota   3200        24    red      4
1  subaru   2800        20  white      5
2  nissan   2400        18   blue      4
3   honda   1750        30  black      2

In [ ]:
for label, content in df.items():
  if pd.api.types.is_string_dtype(content):
    df[label]=content.astype('category').cat.as_ordered()

In [ ]:
# X=df.drop(['price'],axis=1)
# X.info()
X=df[['doors','features']]

In [ ]:
y=df['price']

In [ ]:
X_train, x_test, y_train, y_test=train_test_split(X,y,test_size=.2,random_state=42)

In [ ]:
y_test

1    2800
Name: price, dtype: int64

In [ ]:
lr=LinearRegression()
lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lr.score(X,y)
# predict=lr.predict()
lr.coef_

array([638.18181818,  70.22727273])

In [ ]:
def sum_of_sq(X):
  avg=X.mean()
  X_=[np.square(i-avg) for i in X]
  return sum(X_)

In [ ]:
med=np.asarray([12,11,54,73,22,1,3])

In [ ]:
sum_of_sq(med)

4578.857142857143

In [ ]:
np.ss(np.square([2,2,2]))

12

In [ ]:
954/21

45.42857142857143

In [ ]:
np.corrcoef(df['price'],df['doors'])

array([[1.        , 0.78726782],
       [0.78726782, 1.        ]])

In [ ]:
plt.scatter(df['p'])

In [ ]:
np.mean(np.asarray([1,2,2,2,0,3,3,3,5,2,1,1,1,1,1]))

1.8666666666666667